<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353084025808-470j2kj5u40tfjk9qqhnpog92q4pt20v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353084025808-470j2kj5u40tfjk9qqhnpog92q4pt20v</string>
	<key>API_KEY</key>
	<string>AIzaSyA9qnmwXY2_Ce10UF0rbUnaDcMYJJD27lA</string>
	<key>GCM_SENDER_ID</key>
	<string>353084025808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fftrivia</string>
	<key>PROJECT_ID</key>
	<string>cpadtrial</string>
	<key>STORAGE_BUCKET</key>
	<string>cpadtrial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353084025808:ios:f8c801af60dbed359027d5</string>
</dict>
</plist>